<!DOCTYPE html
  SYSTEM "about:legacy-compat">
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="icon" type="image/ico" href="favicon.ico" />

    <title><%= data.page.title || "snac" %></title>
    <%= stylesheet_link_tag "index", :media => 'all' %>
    <%= javascript_include_tag  "modernizr", :charset => "utf-8" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "navbar" %>
    <div class="main_content">
        <%= yield %>
    </div>
    <%= partial "footer" %>
    <!-- /.container -->
    <%= javascript_include_tag  "all", :charset => "utf-8" %>
    <% if not defined?(data.page.identity) %>
      <%= javascript_include_tag  "sample", "results", :charset => 'utf-8' %>
    <% end %>
    <% if data.page.identity == 'identity' %>
      <%= javascript_include_tag "identity", :charset => 'utf-8' %>
    <% end %>
    <% if data.page.identity == 'graphvis' %>
      <%= javascript_include_tag "graphvis", :charset => 'utf-8' %>
    <% end %>
  </body>
</html>
