---
title: record page
star: star
---
<div id="identity">
  <div class="name">
    <h1>Washington, George, 1732–1799.</h1>
    <a data-toggle="modal" data-target="#alternative_names" href="#alternative_names">Alternative names</a>
  </div>
  <div>
    <div class="biog">
      <div class="facts">
        <div class="life">
          <dt>Dates:</dt>
          <dd>birth 1732</dd>
          <dd>death 1799</dd>
          <dt>Gender:</dt><dd>Male</dd>
        </div>
        <div>
          <div><a href="">Maybe same as</a></div>
          <div><label>Authority Source:</label>
            WorldCat
          </div>
          <div><label>Nationality:</label>
            United States</div>
          <div><label>Language:</label>
            English</div>
        </div>
      </div>
      <h2>Biographical notes:</h2>
      <div class="wikipedia_thumbnail">
        <a href="http://en.wikipedia.org/wiki/File:Gilbert_Stuart_Williamstown_Portrait_of_George_Washington.jpg">
          <img src="http://placehold.it/150x200" alt= "" />
          <div>Image from Wikipedia</div>
        </a>
      </div>
        <%= partial "sample_data_biogist" %>
      <div class="well well-sm">Biographical notes are initially generated the authority source record. If you are interested in submitting biographical content for this record, please submit below. Your submission will be reviewed and if approved we will notify you of its publication.
        <form><textarea></textarea></form>
      </div>
    </div>
    <div class="relations">
      <h2 class="tophead">Related links to:</h2>
      <div class="related" id="related">
        <div class="panel">
          <h4>
            <a data-toggle="collapse" data-parent="#relations" href="#relatedCollections">
              Archival Collections
              <span class="badge pull-right">543</span>
            </a>
          </h4>
          <div id="relatedCollections" class="collapse">
            <div class="panel-body">
              <%= partial "sample_data_relations" %>
            </div>
          </div>
        </div>
        <div class="panel">
          <h4>
            <a data-toggle="collapse" data-parent="#relations" href="#relatedWorks">
              Library Resources
              <span class="badge pull-right">5</span>
            </a>
          </h4>
          <div id="relatedWorks" class="collapse">
            <div class="panel-body">
              <%= partial "sample_data_resources" %>
            </div>
          </div>
        </div>
        <h2>Related names in snac:</h2>
        <div class="panel">
          <h4>
            <a data-toggle="collapse" data-parent="#relations" href="#relatedPeople">
              People
              <span class="badge pull-right">543</span>
            </a>
          </h4>
          <div id="relatedPeople" class="panel-collapse collapse">
            <div class="panel-body">
              <%= partial "sample_data_people" %>
            </div>
          </div>
        </div>
        <div class="panel">
          <h4>
            <a data-toggle="collapse" data-parent="#relations" href="#relatedFamilies">
              Familes
              <span class="badge pull-right">543</span>
            </a>
          </h4>
          <div id="relatedFamilies" class="collapse">
            <div class="panel-body">
              [split famalies out of people]
            </div>
          </div>
        </div>
        <div class="panel">
          <h4>
            <a data-toggle="collapse" data-parent="#relations" href="#relatedOrganizations">
              Organizations
              <span class="badge pull-right">543</span>
            </a>
          </h4>
          <div id="relatedOrganizations" class="collapse">
            <div class="panel-body">
              <%= partial "sample_data_corporate" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="others">
      <h3>Visualize:</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="">Map collection locations</a></li>
        <li class="list-group-item"><a href="">Show this record linked to other records in SNAC</a></li>
        <li class="list-group-item"><a href="">View source EAC-CPF</a></li>
      </ul>
      <h3>Subjects:</h3>
      <ul class="nav">
        <li><a href="#">Rivers</a></li>
        <li><a href="#">Land use</a></li>
        <li><a href="" >Generals-­-Correspondence</a></li>
        <li><a href="" >Leases-­-18th century</a></li>
        <li><a href="" >Yellow fever-­-1793</a></li>
        <li><a href="" ><span style="font-weight: bold; font-size: 200%; line-height: 50%; ">+
            </span>
            submit subject categories</a></li>
      </ul>
      <h3>Occupations:</h3>
      <ul class="nav">
        <li><a>no occupation catiegories available</a></li>
        <li><a href="" class="btn btn-default"><span style="font-weight: bold; font-size: 200%; line-height: 50%; ">+
            </span>
            submit occupation categories</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div class="modal fade" id="alternative_names" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-labelledby="myModalLabel" aria-hidden="true">&#xd7;</button>
          <h4 class="modal-title" id="myModalLabel">Alternative Names</h4>
        </div>
        <div class="modal-body">
          <div>Washington, George, 1732-1799,</div>
          <div>Washington, George, 1732-1799</div>
          <div>Washington, George 1732-1799.</div>
          <div>Washington George, 1732-1799.</div>
          <div>Washington, Georg, 1732-1799.</div>
          <div>Washington, George 1732-1799</div>
          <div>Washington, George American president, 1732-1799</div>
          <div>Washington, George</div>
          <div>George Washington</div>
          <div>Huashengdun, 1732-1799</div>
          <div>Uashingktoien, Geeorg, 1732-1799</div>
          <div>Uashingtʻn, Gēorg, 1732-1799</div>
          <div>Vashington, Dzhordzh, 1732-1799</div>
          <div>Vašington, Džordž 1732-1799</div>
          <div>Washington, Geo. 1732-1799</div>
          <div>Washington, Georg, 1732-1799</div>
          <div>Washington, George, Pres. U. S. , 1732-1799</div>
          <div>Washington, Georg 1732-1799</div>
          <div>Washington, Giorgio 1732-1799</div>
          <div>Washington Général 1732-1799</div>
          <div>Waszyngton, Jerzy, 1732-1799</div>
          <div>Waszyngton, Jerzy ( 1732-1799).</div>
          <div>Wāšintun, Ǧūrǧ, 1732-1799</div>
          <div>װאשינגטאן, דזשארדזש, 1732־1799</div>
          <div>ジョージワシントン, 1732-1799</div>
          <div>ワシントン, ジョージ</div>
          <div>华盛顿, 1732-1799</div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
